					<ul class="nav nav-pills">

                        <li role="presentation">
                            <a href='/users/profile'>
                                <i class="fa fa-user"></i>
                                <span>PROFILE</span>
                            </a>
                        </li>

                        <li role="presentation">
                            <a href='/address_book'>
                                <i class="fa fa-book"></i>
                                <span>ADDRESSBOOK</span>
                            </a>
                        </li>
                        
                        <li role="presentation">
                            <a href='/gallery'>
                                <i class="fa fa-upload"></i>
                                <span>UPLOADS</span>
                            </a>
                        </li>

                        <li role="presentation">
                            <a href='/holiday' class="text-success">
                                <i class="fa fa-list-alt"></i>
                                <span>HOLIDAY LIST</span>
                            </a>
                        </li>

                        <li role="presentation">
                            <a href='/content_writer'>
                                <i class="fa fa-users"></i>
                                <span>CONTENT WRITER</span>
                            </a>
                        </li>

                        <li role="presentation">
                            <a href='/users/logout' class="text-danger">
                                <i class="fa fa-sign-out"></i>
                                <span>LOGOUT</span>
                            </a>
                        </li>
                    </ul>