extends layout

block additional_CSS
	link(rel='stylesheet', href='/stylesheets/simplemde.min.css')

block content
	.main.container
		.row
			.col-md-6.col-md-offset-3
				h1 You can create a schedule here
				a.btn.btn-link(href='/users/profile')
					i.fa.fa-arrow-circle-o-left 
					span  back
				a.btn.btn-link(href='/users/logout')
					i.fa.fa-sign-out 
					span  logout

		.row
			.col-md-6.col-md-offset-3
				h4.display-4.m-b-2 Create Schedule
				form(method='POST' action='/scheduler/crete_schedule')
					div.form-group
						label(for='email_title') Email Title
						|
						|
						input.form-control(type='text' id='email_title' placeholder='email_title' name='email_title')
					div.form-group
						label(for='triggered_date_time') Trigger On
						|
						|
						input.form-control(type='date' id='triggered_date' name='triggered_date')
						|
						|
						input.form-control(type='time' id='triggered_time' name='triggered_time')
					div.form-group
						label(for='email_body') Email Body
						|
						|
						textarea.form-control(id='email_body' placeholder='Let us create awesome content here' name='email_body' rows=10)
					div.form-group
					button.btn.btn-primary(type='submit') Schedule
					p <br/>
					if flashMessage
						p.alert.alert-danger #{flashMessage}
					if flashMessageSuccess
						p.alert.alert-success #{flashMessageSuccess}

block additional_JS
	script(src='/javascripts/simplemde.min.js')
	script(src='/javascripts/apply_simplemde.js')