<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
        <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
        {% block additional_CSS %}{% endblock %}
    </head>
    <body>
    <div class="main container">
        {% if site_header %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="primary_header">
                        {{site_header}}
                    </h1>
                    {% include('includes/navigation_menu.html') %}
                </div>
            </div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src='/javascripts/jquery-3.2.1.min.js'></script>
    {% block additional_JS %}{% endblock %}
    </body>
</html>